In [206]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in d:\laptop_price_predictor\model\myenv\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in d:\laptop_price_predictor\model\myenv\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\laptop_price_predictor\model\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\laptop_price_predictor\model\myenv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\laptop_price_predictor\model\myenv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in d:\laptop_price_predictor\model\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in d:\laptop_price_predictor\model\myenv\lib\site-packages (2.0.0)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [207]:
import pandas as pd
import numpy as np

In [208]:
data = pd.read_csv('laptop_price.csv',encoding='latin-1')

In [209]:
data.head()
data.shape

(1303, 12)

In [210]:
data.isnull().sum()

laptop_ID           0
Company             0
Product             0
TypeName            0
Inches              0
ScreenResolution    0
Cpu                 0
Ram                 0
Gpu                 0
OpSys               0
Weight              0
Price_euros         0
dtype: int64

In [211]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   object
 8   Gpu               1303 non-null   object
 9   OpSys             1303 non-null   object
 10  Weight            1303 non-null   object
 11  Price_euros       1303 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 122.3+ KB

In [212]:
data["Ram"] = data['Ram'].str.replace('GB','').astype('int32')

In [213]:
data.head(2)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,Intel HD Graphics 6000,macOS,1.34kg,898.94

In [214]:
data['Weight'] = data['Weight'].str.replace('kg','').astype('float32')

In [215]:
data.head(2)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,Intel Iris Plus Graphics 640,macOS,1.37,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,Intel HD Graphics 6000,macOS,1.34,898.94

In [216]:
numeric_columns = data.select_dtypes(exclude=['object']).columns
print(numeric_columns)

Index(['laptop_ID', 'Inches', 'Ram', 'Weight', 'Price_euros'], dtype='object')

In [217]:
non_numeric_columns = data.select_dtypes(include=['object']).columns
print(non_numeric_columns)

Index(['Company', 'Product', 'TypeName', 'ScreenResolution', 'Cpu', 'Gpu',
       'OpSys'],
      dtype='object')

In [218]:
data['Price_euros'] = pd.to_numeric(data['Price_euros'], errors='coerce')

In [219]:
data_num = data.drop(columns=non_numeric_columns)
data_num.head()

   laptop_ID  Inches  Ram  Weight  Price_euros
0          1    13.3    8    1.37      1339.69
1          2    13.3    8    1.34       898.94
2          3    15.6    8    1.86       575.00
3          4    15.4   16    1.83      2537.45
4          5    13.3    8    1.37      1803.60

In [220]:
corraltion = data_num.corr()['Price_euros']

In [221]:
corraltion

laptop_ID      0.067830
Inches         0.068197
Ram            0.743007
Weight         0.210370
Price_euros    1.000000
Name: Price_euros, dtype: float64

In [222]:
data['Company'].value_counts()

Company
Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         21
Samsung        9
Mediacom       7
Razer          7
Microsoft      6
Vero           4
Xiaomi         4
Chuwi          3
Fujitsu        3
Google         3
LG             3
Huawei         2
Name: count, dtype: int64

In [223]:
len(data['Company'].value_counts())

19

In [224]:
company = data['Company'].value_counts()

In [225]:
def add_company(input):
    if input == 'Samsung' or input == 'Mediacom' or input == 'Razer' or input == 'Microsoft' or input == 'Vero' or input == 'Xiaomi' or input == 'Chuwi' or input == 'Fujisu' or input == 'Google' or input ==  'LG' or input == 'Huawei':
        return 'Other'
    else:
        return input

data['Company'] =data['Company'].apply(add_company)

In [226]:
data['Company'].value_counts()

Company
Dell       297
Lenovo     297
HP         274
Asus       158
Acer       103
MSI         54
Toshiba     48
Other       48
Apple       21
Fujitsu      3
Name: count, dtype: int64

In [227]:
data['Product'].value_counts()

Product
XPS 13                                 30
Inspiron 3567                          29
250 G6                                 21
Vostro 3568                            19
Legion Y520-15IKBN                     19
                                       ..
L403NA-GA013TS (N3350/4GB/32GB/W10)     1
IdeaPad 500-15ISK                       1
GP62M 7RDX                              1
V110-15ISK (i3-6006U/4GB/1TB/No         1
15-BA015wm (E2-7110/4GB/500GB/W10)      1
Name: count, Length: 618, dtype: int64

In [228]:
data['Product'].value_counts()

Product
XPS 13                                 30
Inspiron 3567                          29
250 G6                                 21
Vostro 3568                            19
Legion Y520-15IKBN                     19
                                       ..
L403NA-GA013TS (N3350/4GB/32GB/W10)     1
IdeaPad 500-15ISK                       1
GP62M 7RDX                              1
V110-15ISK (i3-6006U/4GB/1TB/No         1
15-BA015wm (E2-7110/4GB/500GB/W10)      1
Name: count, Length: 618, dtype: int64

In [229]:
data['Product'].value_counts()

Product
XPS 13                                 30
Inspiron 3567                          29
250 G6                                 21
Vostro 3568                            19
Legion Y520-15IKBN                     19
                                       ..
L403NA-GA013TS (N3350/4GB/32GB/W10)     1
IdeaPad 500-15ISK                       1
GP62M 7RDX                              1
V110-15ISK (i3-6006U/4GB/1TB/No         1
15-BA015wm (E2-7110/4GB/500GB/W10)      1
Name: count, Length: 618, dtype: int64

In [230]:
len(data['Product'].value_counts())

618

In [231]:
data['TypeName'].value_counts()

TypeName
Notebook              727
Gaming                205
Ultrabook             196
2 in 1 Convertible    121
Workstation            29
Netbook                25
Name: count, dtype: int64

In [232]:
data['ScreenResolution'].value_counts()

ScreenResolution
Full HD 1920x1080                                507
1366x768                                         281
IPS Panel Full HD 1920x1080                      230
IPS Panel Full HD / Touchscreen 1920x1080         53
Full HD / Touchscreen 1920x1080                   47
1600x900                                          23
Touchscreen 1366x768                              16
Quad HD+ / Touchscreen 3200x1800                  15
IPS Panel 4K Ultra HD 3840x2160                   12
IPS Panel 4K Ultra HD / Touchscreen 3840x2160     11
4K Ultra HD / Touchscreen 3840x2160               10
IPS Panel 1366x768                                 7
Touchscreen 2560x1440                              7
4K Ultra HD 3840x2160                              7
IPS Panel Retina Display 2304x1440                 6
IPS Panel Retina Display 2560x1600                 6
Touchscreen 2256x1504                              6
IPS Panel Quad HD+ / Touchscreen 3200x1800         6
IPS Panel Touchscreen 2560x1440                    5
IPS Panel Retina Display 2880x1800                 4
1440x900                                           4
IPS Panel Touchscreen 1920x1200                    4
IPS Panel 2560x1440                                4
IPS Panel Quad HD+ 2560x1440                       3
IPS Panel Touchscreen 1366x768                     3
Quad HD+ 3200x1800                                 3
1920x1080                                          3
2560x1440                                          3
Touchscreen 2400x1600                              3
IPS Panel Quad HD+ 3200x1800                       2
IPS Panel Full HD 2160x1440                        2
IPS Panel Touchscreen / 4K Ultra HD 3840x2160      2
IPS Panel Full HD 1366x768                         1
Touchscreen / Quad HD+ 3200x1800                   1
IPS Panel Retina Display 2736x1824                 1
IPS Panel Full HD 2560x1440                        1
IPS Panel Full HD 1920x1200                        1
Touchscreen / Full HD 1920x1080                    1
Touchscreen / 4K Ultra HD 3840x2160                1
IPS Panel Touchscreen 2400x1600                    1
Name: count, dtype: int64

In [233]:
data['TouchScreen'] = data['ScreenResolution'].apply(lambda x:1 if "Touchscreen" in x else 0)
data['IPSpanel'] = data['ScreenResolution'].apply(lambda x:1 if "IPS" in x else 0)

In [234]:
data.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,TouchScreen,IPSpanel
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,0,1
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,Intel HD Graphics 6000,macOS,1.34,898.94,0,0
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,Intel HD Graphics 620,No OS,1.86,575.00,0,0
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,AMD Radeon Pro 455,macOS,1.83,2537.45,0,1
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,Intel Iris Plus Graphics 650,macOS,1.37,1803.60,0,1

In [235]:
len(data['Cpu'].value_counts())

118

In [236]:
data['Cpu'].value_counts()

Cpu
Intel Core i5 7200U 2.5GHz       190
Intel Core i7 7700HQ 2.8GHz      146
Intel Core i7 7500U 2.7GHz       134
Intel Core i7 8550U 1.8GHz        73
Intel Core i5 8250U 1.6GHz        72
                                ...
Intel Core i5 7200U 2.70GHz        1
Intel Core M M7-6Y75 1.2GHz        1
Intel Core M 6Y54 1.1GHz           1
AMD E-Series 9000 2.2GHz           1
Samsung Cortex A72&A53 2.0GHz      1
Name: count, Length: 118, dtype: int64

In [237]:
data['cpu_name'] = data['Cpu'].apply(lambda x:"".join(x.split()[0:3]))

In [238]:
data['cpu_name'].value_counts()

cpu_name
IntelCorei7               527
IntelCorei5               423
IntelCorei3               136
IntelCeleronDual           80
IntelPentiumQuad           27
IntelCoreM                 19
AMDA9-Series9420           12
AMDA6-Series9220            8
IntelCeleronQuad            8
AMDA12-Series9720P          7
IntelAtomx5-Z8350           5
AMDA8-Series7410            4
IntelAtomx5-Z8550           4
AMDA9-Series9410            3
IntelPentiumDual            3
AMDRyzen1700                3
AMDA9-SeriesA9-9420         2
AMDE-SeriesE2-9000e         2
AMDA10-SeriesA10-9620P      2
AMDA6-SeriesA6-9220         2
AMDE-Series7110             2
AMDA10-Series9620P          2
AMDA10-Series9600P          2
IntelXeonE3-1505M           2
IntelXeonE3-1535M           2
IntelAtomX5-Z8350           2
IntelAtomx5-Z8300           1
AMDE-Series6110             1
AMDE-Series9000e            1
AMDE-SeriesE2-6110          1
AMDFX9830P                  1
AMDRyzen1600                1
IntelAtomZ8350              1
AMDA6-Series7310            1
AMDE-SeriesE2-9000          1
AMDA12-Series9700P          1
AMDFX8800P                  1
AMDA4-Series7210            1
SamsungCortexA72&A53        1
AMDE-Series9000             1
Name: count, dtype: int64

In [239]:
def set_processer(input):
    if input == 'IntelCorei7' or input == "IntelCorei5" or input =='IntelCorei3':
        return input
    else:
        if input[0] == 'A'and input[1]=='M':
            return 'AMD'
        else:
            return 'Other'
            
data['cpu_name'] = data['cpu_name'].apply(set_processer)

In [240]:
data['cpu_name'].value_counts()

cpu_name
IntelCorei7    527
IntelCorei5    423
Other          155
IntelCorei3    136
AMD             62
Name: count, dtype: int64

In [241]:
data.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,TouchScreen,IPSpanel,cpu_name
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,0,1,IntelCorei5
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,Intel HD Graphics 6000,macOS,1.34,898.94,0,0,IntelCorei5
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,Intel HD Graphics 620,No OS,1.86,575.00,0,0,IntelCorei5
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,AMD Radeon Pro 455,macOS,1.83,2537.45,0,1,IntelCorei7
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,Intel Iris Plus Graphics 650,macOS,1.37,1803.60,0,1,IntelCorei5

In [242]:
data['Gpu'].value_counts()

Gpu
Intel HD Graphics 620      281
Intel HD Graphics 520      185
Intel UHD Graphics 620      68
Nvidia GeForce GTX 1050     66
Nvidia GeForce GTX 1060     48
                          ...
Nvidia Quadro M500M          1
AMD Radeon R7 M360           1
Nvidia Quadro M3000M         1
Nvidia GeForce 960M          1
ARM Mali T860 MP4            1
Name: count, Length: 110, dtype: int64

In [243]:
len(data['Gpu'].value_counts())

110

In [244]:
def set_gpu(i):
    if i == 'Intel HD Graphics 620' or i == 'Intel HD Graphics 520' or i == 'Intel UHD Graphics 620' or i =='Nvidia GeForce GTX 1050' or i == 'Nvidia GeForce GTX 1060':
        return i
    else:
        if i.split()[0] =='Intel':
            return 'IntelOther'
        else:
            if i.split()[0] =='AMD':
                return 'AMDOther'
            else:
                return 'others'
data['Gpu_name'] = data['Gpu'].apply(set_gpu)

In [245]:
data['Gpu_name'].value_counts()

Gpu_name
others                     287
Intel HD Graphics 620      281
IntelOther                 188
Intel HD Graphics 520      185
AMDOther                   180
Intel UHD Graphics 620      68
Nvidia GeForce GTX 1050     66
Nvidia GeForce GTX 1060     48
Name: count, dtype: int64

In [246]:
len(data['Gpu_name'].value_counts())

8

In [247]:
data.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,TouchScreen,IPSpanel,cpu_name,Gpu_name
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,0,1,IntelCorei5,IntelOther
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,Intel HD Graphics 6000,macOS,1.34,898.94,0,0,IntelCorei5,IntelOther
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,Intel HD Graphics 620,No OS,1.86,575.00,0,0,IntelCorei5,Intel HD Graphics 620
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,AMD Radeon Pro 455,macOS,1.83,2537.45,0,1,IntelCorei7,AMDOther
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,Intel Iris Plus Graphics 650,macOS,1.37,1803.60,0,1,IntelCorei5,IntelOther

In [248]:
data['OpSys'].value_counts()

OpSys
Windows 10      1072
No OS             66
Linux             62
Windows 7         45
Chrome OS         27
macOS             13
Mac OS X           8
Windows 10 S       8
Android            2
Name: count, dtype: int64

In [249]:
def set_os(input):
    if input.split()[0] == 'Windows':
        return 'Windows'
    else:
        if input.split()[0]== 'Linux':
            return 'Linux'
        else:
            if input.split()[0]== 'macOS' or  input.split()[0]== 'Mac':
                return 'MacOS'
            else:
                return 'Other'
data['OpSys'] = data['OpSys'].apply(set_os)

In [250]:
data['OpSys'].value_counts()

OpSys
Windows    1125
Other        95
Linux        62
MacOS        21
Name: count, dtype: int64

In [251]:
data.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,TouchScreen,IPSpanel,cpu_name,Gpu_name
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,Intel Iris Plus Graphics 640,MacOS,1.37,1339.69,0,1,IntelCorei5,IntelOther
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,Intel HD Graphics 6000,MacOS,1.34,898.94,0,0,IntelCorei5,IntelOther
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,Intel HD Graphics 620,Other,1.86,575.00,0,0,IntelCorei5,Intel HD Graphics 620
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,AMD Radeon Pro 455,MacOS,1.83,2537.45,0,1,IntelCorei7,AMDOther
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,Intel Iris Plus Graphics 650,MacOS,1.37,1803.60,0,1,IntelCorei5,IntelOther

In [253]:
data= data.drop(columns=['laptop_ID','Inches','ScreenResolution','Product','Gpu','Cpu'],axis = 1)

In [254]:
data.head()

,Company,TypeName,Ram,OpSys,Weight,Price_euros,TouchScreen,IPSpanel,cpu_name,Gpu_name
0,Apple,Ultrabook,8,MacOS,1.37,1339.69,0,1,IntelCorei5,IntelOther
1,Apple,Ultrabook,8,MacOS,1.34,898.94,0,0,IntelCorei5,IntelOther
2,HP,Notebook,8,Other,1.86,575.00,0,0,IntelCorei5,Intel HD Graphics 620
3,Apple,Ultrabook,16,MacOS,1.83,2537.45,0,1,IntelCorei7,AMDOther
4,Apple,Ultrabook,8,MacOS,1.37,1803.60,0,1,IntelCorei5,IntelOther